<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang chủ</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- Owl Carousel CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          rel="stylesheet">
    <!-- Link Css -->
    <link rel="stylesheet" th:href="@{/web-assets/css/style.css}">

</head>

<body>

<header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a class="logo" href="/"><img src="/web-assets/img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  text-white" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Danh mục
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark ">
                            <li><a class="dropdown-item" href="#">Danh mục</a></li>
                            <li><a class="dropdown-item" href="#">Danh mục</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Danh mục</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  text-white" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Thể loại
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark ">
                            <li th:each="category : ${categories}">
                                <a class="dropdown-item" th:href="@{/theloai/{slug}(slug=${category.slug})}"
                                   th:text="${category.name}">Ds thể loại</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <div>
                        <input class=" form me-3 p-1  rounded-1 fst-italic " type="search" placeholder="  Tìm truyện"
                               aria-label="Search">
                    </div>
                </div>
                <button class="btn btn-outline-warning p-1">Lọc truyện
                </button>
                <div>
                    <a href="#"><img class="avatar" src="/web-assets/img/avatar.jpeg" alt=""></a>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Section-1 -->
<section class="pb-4 bg-dark">
    <!-- Banner 1-->
    <div class="container pb-4">
        <div class="row">
            <div class="col">
                <div class="banner-item">
                    <div class="story-poster rounded overflow-hidden">
                        <a th:if="${randomStory != null}" th:href="@{/truyen/{id}(id=${randomStory.id})}">
                            <img th:src="${randomStory.poster}" th:alt="${randomStory.title}">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Truyện vừa đọc -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="stories">
                    <div class="d-flex justify-content-between"><a class="nav-link text-warning pb-2" href="#">TRUYỆN
                        VỪA ĐỌC</a>
                        <a href="#"><i class="fa-solid fa-angles-right text-warning"></i></a>
                    </div>
                    <div class=" d-flex justify-content-between py-3 px-3">
                        <div class="col-1.5">
                            <p class="text-dark-emphasis ">Một giờ trước</p>
                        </div>
                        <div class="col-8"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất Thế
                            Giới Ma Pháp
                            Đại Chiến</a></div>
                        <div class="col-2">
                            <p class="text-dark-emphasis">Đã đọc: 3/100</p>
                        </div>
                        <div class="col-0.5 "><i
                                class="fa-solid fa-x bg-dark text-warning p-1 border border-warning rounded-1 text-warning"></i>
                        </div>
                    </div>
                    <!-- , -->
                    <div class=" d-flex justify-content-between py-2 px-3">
                        <div class="col-1.5">
                            <p class="text-dark-emphasis ">Một giờ trước</p>
                        </div>
                        <div class="col-8"><a class=" nav-link text-white  fw-semibold " href="#">Lần Thứ Nhất Thế
                            Giới Ma Pháp
                            Đại Chiến</a></div>
                        <div class="col-2">
                            <p class="text-dark-emphasis"> Đã đọc: 3/100</p>
                        </div>
                        <div class="col-0.5 "><i
                                class="fa-solid fa-x bg-dark text-warning p-1 border border-warning rounded-1 text-warning"></i>
                        </div>
                    </div>
                    <!-- , -->
                    <div class=" d-flex justify-content-between py-2 px-3">
                        <div class="col-1.5">
                            <p class="text-dark-emphasis ">Một giờ trước</p>
                        </div>
                        <div class="col-8"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất Thế
                            Giới Ma Pháp
                            Đại Chiến</a></div>
                        <div class="col-2">
                            <p class="text-dark-emphasis">Đã đọc: 3/100</p>
                        </div>
                        <div class="col-0.5 "><i
                                class="fa-solid fa-x bg-dark text-warning p-1 border border-warning rounded-1 text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BTV đề cử -->
    <div class="container">
        <div class="d-flex justify-content-between"><a class="nav-link text-warning pb-2" href="#">BTV ĐỀ CỬ</a>
            <a href="#"><i class="fa-solid fa-angles-right text-warning"></i></a>
        </div>
        <!-- Owl Carousel - Slide -->
        <div id="header-carousel" class="owl-carousel owl-theme">
            <!-- slide 1 -->
            <div class="item">
                <div class="row ">
                    <div class="col ">
                        <div class="d-flex pt-3 px-3">
                            <div class="col-2 rounded overflow-hidden ">
                                <a href="#"><img src="/web-assets/img/anh truyen.jpg" alt=""></a>
                            </div>
                            <div class="p-2">
                                <div class="col-9"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất
                                    Thế
                                    Giới Ma
                                    Pháp
                                    Đại Chiến</a></div>
                                <div>
                                    <p class="text-dark-emphasis">Năm 2023 là một bước nhảy vọt của toàn bộ nền văn
                                        minh Địa
                                        Cầu, năng lượng vũ trụ </p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex"><span><i
                                            class="fa-solid fa-user text-white pe-2"></i></span>
                                        <a class=" nav-link text-white" href="#">Tên tác giả</a>
                                    </div>
                                    <a class="nav-link border border-warning rounded-1 text-warning px-2">Huyền
                                        huyễn</a>
                                </div>
                            </div>
                        </div>

                        <!-- , -->
                        <div class="d-flex pt-3 px-3">
                            <div class="col-2 rounded overflow-hidden ">
                                <a href="#"><img src="/web-assets/img/anh truyen.jpg" alt=""></a>
                            </div>
                            <div class="p-2">
                                <div class="col-9"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất
                                    Thế
                                    Giới Ma
                                    Pháp
                                    Đại Chiến</a></div>
                                <div>
                                    <p class="text-dark-emphasis">Năm 2023 là một bước nhảy vọt của toàn bộ nền văn
                                        minh Địa
                                        Cầu, năng lượng vũ trụ </p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex"><span><i
                                            class="fa-solid fa-user text-white pe-2"></i></span>
                                        <a class=" nav-link text-white" href="#">Tên tác giả</a>
                                    </div>
                                    <a class="nav-link border border-warning rounded-1 text-warning px-2">Huyền
                                        huyễn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col ">
                        <div class="d-flex pt-3 px-3">
                            <div class="col-2 rounded overflow-hidden ">
                                <a href="#"><img src="/web-assets/img/anh truyen.jpg" alt=""></a>
                            </div>
                            <div class="p-2">
                                <div class="col-9"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất
                                    Thế
                                    Giới Ma
                                    Pháp
                                    Đại Chiến</a></div>
                                <div>
                                    <p class="text-dark-emphasis">Năm 2023 là một bước nhảy vọt của toàn bộ nền văn
                                        minh Địa
                                        Cầu, năng lượng vũ trụ </p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex"><span><i
                                            class="fa-solid fa-user text-white pe-2"></i></span>
                                        <a class=" nav-link text-white" href="#">Tên tác giả</a>
                                    </div>
                                    <a class="nav-link border border-warning rounded-1 text-warning px-2">Huyền
                                        huyễn</a>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="d-flex pt-3 px-3">
                            <div class="col-2 rounded overflow-hidden ">
                                <a href="#"><img src="/web-assets/img/anh truyen.jpg" alt=""></a>
                            </div>
                            <div class="p-2">
                                <div class="col-9"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất
                                    Thế
                                    Giới Ma
                                    Pháp
                                    Đại Chiến</a></div>
                                <div>
                                    <p class="text-dark-emphasis">Năm 2023 là một bước nhảy vọt của toàn bộ nền văn
                                        minh Địa
                                        Cầu, năng lượng vũ trụ </p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex"><span><i
                                            class="fa-solid fa-user text-white pe-2"></i></span>
                                        <a class=" nav-link text-white" href="#">Tên tác giả</a>
                                    </div>
                                    <a class="nav-link border border-warning rounded-1 text-warning px-2">Huyền
                                        huyễn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slide 2 -->
            <div class="item">
                <div class="row ">
                    <div class="col ">
                        <div class="d-flex pt-3 px-3">
                            <div class="col-2 rounded overflow-hidden ">
                                <a href="#"><img src="/web-assets/img/anh truyen.jpg" alt=""></a>
                            </div>
                            <div class="p-2">
                                <div class="col-9"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất
                                    Thế
                                    Giới Ma
                                    Pháp
                                    Đại Chiến</a></div>
                                <div>
                                    <p class="text-dark-emphasis">Năm 2023 là một bước nhảy vọt của toàn bộ nền văn
                                        minh Địa
                                        Cầu, năng lượng vũ trụ </p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex"><span><i
                                            class="fa-solid fa-user text-white pe-2"></i></span>
                                        <a class=" nav-link text-white" href="#">Tên tác giả</a>
                                    </div>
                                    <a class="nav-link border border-warning rounded-1 text-warning px-2">Huyền
                                        huyễn</a>
                                </div>
                            </div>
                        </div>

                        <!-- , -->
                        <div class="d-flex pt-3 px-3">
                            <div class="col-2 rounded overflow-hidden ">
                                <a href="#"><img src="/web-assets/img/anh truyen.jpg" alt=""></a>
                            </div>
                            <div class="p-2">
                                <div class="col-9"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất
                                    Thế
                                    Giới Ma
                                    Pháp
                                    Đại Chiến</a></div>
                                <div>
                                    <p class="text-dark-emphasis">Năm 2023 là một bước nhảy vọt của toàn bộ nền văn
                                        minh Địa
                                        Cầu, năng lượng vũ trụ </p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex"><span><i
                                            class="fa-solid fa-user text-white pe-2"></i></span>
                                        <a class=" nav-link text-white" href="#">Tên tác giả</a>
                                    </div>
                                    <a class="nav-link border border-warning rounded-1 text-warning px-2">Huyền
                                        huyễn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col ">
                        <div class="d-flex pt-3 px-3">
                            <div class="col-2 rounded overflow-hidden ">
                                <a href="#"><img src="/web-assets/img/anh truyen.jpg" alt=""></a>
                            </div>
                            <div class="p-2">
                                <div class="col-9"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất
                                    Thế
                                    Giới Ma
                                    Pháp
                                    Đại Chiến</a></div>
                                <div>
                                    <p class="text-dark-emphasis">Năm 2023 là một bước nhảy vọt của toàn bộ nền văn
                                        minh Địa
                                        Cầu, năng lượng vũ trụ </p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex"><span><i
                                            class="fa-solid fa-user text-white pe-2"></i></span>
                                        <a class=" nav-link text-white" href="#">Tên tác giả</a>
                                    </div>
                                    <a class="nav-link border border-warning rounded-1 text-warning px-2">Huyền
                                        huyễn</a>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="d-flex pt-3 px-3">
                            <div class="col-2 rounded overflow-hidden ">
                                <a href="#"><img src="/web-assets/img/anh truyen.jpg" alt=""></a>
                            </div>
                            <div class="p-2">
                                <div class="col-9"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất
                                    Thế
                                    Giới Ma
                                    Pháp
                                    Đại Chiến</a></div>
                                <div>
                                    <p class="text-dark-emphasis">Năm 2023 là một bước nhảy vọt của toàn bộ nền văn
                                        minh Địa
                                        Cầu, năng lượng vũ trụ </p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex"><span><i
                                            class="fa-solid fa-user text-white pe-2"></i></span>
                                        <a class=" nav-link text-white" href="#">Tên tác giả</a>
                                    </div>
                                    <a class="nav-link border border-warning rounded-1 text-warning px-2">Huyền
                                        huyễn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Section-2 -->
<section class="py-4 bg-dark">

    <!-- Banner 2-->
    <div class="container pb-4">
        <div class="row">
            <div class="col">
                <div class="banner-item">
                    <div class="story-poster rounded overflow-hidden">
                        <a th:if="${randomStory != null}" th:href="@{/truyen/{id}(id=${randomStory.id})}">
                            <img th:src="${randomStory.poster}" th:alt="${randomStory.title}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bảng xếp hạng -->
    <div class="container">
        <div class="row">
            <div class="col ">
                <div class="d-flex justify-content-between"><a class="nav-link text-warning pb-2" href="#">BXH LƯỢT
                    ĐỀ
                    CỬ</a>
                    <a href="#"><i class="fa-solid fa-angles-right text-warning"></i></a>
                </div>
                <div class=" d-flex justify-content-between py-2 px-2">
                    <div class="stt">
                        <p class="text-dark-emphasis ">01</p>
                    </div>
                    <div class="col-10"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất Thế Giới
                        Ma Pháp
                        Đại Chiến</a></div>
                    <div class="col-0.5">
                        <p class="text-dark-emphasis">123</p>
                    </div>
                </div>
                <!-- , -->
                <div class=" d-flex justify-content-between py-2 px-2">
                    <div class="stt">
                        <p class="text-dark-emphasis ">02</p>
                    </div>
                    <div class="col-10"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất Thế Giới
                        Ma Pháp
                        Đại Chiến</a></div>
                    <div class="col-0.5">
                        <p class="text-dark-emphasis">123</p>
                    </div>
                </div>
                <!-- , -->
                <div class=" d-flex justify-content-between py-2 px-2">
                    <div class="stt">
                        <p class="text-dark-emphasis ">03</p>
                    </div>
                    <div class="col-10"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất Thế Giới
                        Ma Pháp
                        Đại Chiến</a></div>
                    <div class="col-0.5">
                        <p class="text-dark-emphasis">123</p>
                    </div>
                </div>
            </div>

            <!-- // -->
            <div class="col ">
                <div class="d-flex justify-content-between"><a class="nav-link text-warning pb-2" href="#">BXH LƯỢT
                    ĐỌC</a>
                    <a href="#"><i class="fa-solid fa-angles-right text-warning"></i></a>
                </div>
                <div class=" d-flex justify-content-between py-2 px-2">
                    <div class="stt">
                        <p class="text-dark-emphasis ">01</p>
                    </div>
                    <div class="col-10"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất Thế Giới
                        Ma Pháp
                        Đại Chiến</a></div>
                    <div class="col-0.5">
                        <p class="text-dark-emphasis">123</p>
                    </div>
                </div>
                <!-- , -->
                <div class=" d-flex justify-content-between py-2 px-2">
                    <div class="stt">
                        <p class="text-dark-emphasis ">02</p>
                    </div>
                    <div class="col-10"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất Thế Giới
                        Ma Pháp
                        Đại Chiến</a></div>
                    <div class="col-0.5">
                        <p class="text-dark-emphasis">123</p>
                    </div>
                </div>
                <!-- , -->
                <div class=" d-flex justify-content-between py-2 px-2">
                    <div class="stt">
                        <p class="text-dark-emphasis ">03</p>
                    </div>
                    <div class="col-10"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất Thế Giới
                        Ma Pháp
                        Đại Chiến</a></div>
                    <div class="col-0.5">
                        <p class="text-dark-emphasis">123</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Truyện vừa lên chương -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="stories">
                    <div class="d-flex justify-content-between"><a class="nav-link text-warning pb-2"
                                                                   href="#">TRUYỆN VỪA LÊN CHƯƠNG</a>
                        <a href="#"><i class="fa-solid fa-angles-right text-warning"></i></a>
                    </div>
                    <div class=" d-flex justify-content-between py-2 px-3">
                        <div class="col-1.5">
                            <p class="text-dark-emphasis "> Huyền huyễn</p>
                        </div>
                        <div class="col-6"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất Thế
                            Giới Ma Pháp
                            Đại Chiến</a></div>
                        <div class="col-1.5">
                            <p class="text-dark-emphasis"> Tác giả</p>
                        </div>
                        <div class="col-1.5">
                            <p class="text-dark-emphasis">Chương 215</p>
                        </div>
                        <div class="col-1.5">
                            <p class="text-dark-emphasis">2 giờ trước</p>
                        </div>
                    </div>
                    <!-- , -->
                    <div class=" d-flex justify-content-between py-2 px-3">
                        <div class="col-">
                            <p class="text-dark-emphasis "> Huyền huyễn</p>
                        </div>
                        <div class="col-6"><a class=" nav-link text-white fw-semibold" href="#">Lần Thứ Nhất Thế
                            Giới Ma Pháp
                            Đại Chiến</a></div>
                        <div class="col-1.5">
                            <p class="text-dark-emphasis"> Tác giả</p>
                        </div>
                        <div class="col-1.5">
                            <p class="text-dark-emphasis">Chương 215</p>
                        </div>
                        <div class="col-1.5">
                            <p class="text-dark-emphasis">2 giờ trước</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section-3 -->
<section class="py-4 bg-dark">
    <!-- Banner 3-->
    <div class="container pb-4">
        <div class="row">
            <div class="col">
                <div class="banner-item">
                    <div class="story-poster rounded overflow-hidden">
                        <a th:if="${randomStory != null}" th:href="@{/truyen/{id}(id=${randomStory.id})}">
                            <img th:src="${randomStory.poster}" th:alt="${randomStory.title}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Truyện hoàn thành-->
    <div class="container">
        <div class="d-flex justify-content-between">
            <a class="nav-link text-warning pb-2" href="/truyen-hoan-thanh">TRUYỆN HOÀN THÀNH</a>
            <a href="/truyen-hoan-thanh"><i class="fa-solid fa-angles-right text-warning"></i></a>
        </div>
        <div class="row pt-4">
            <div class="col-2 " th:each="story : ${dsTruyenHoanThanh}">
                <div class="banner-item">
                    <div class="story-image rounded overflow-hidden">
                        <a th:href="@{/truyen/{id}(id=${story.id})}">
                            <img th:src="${story.imageUrl}" th:alt="${story.title}">
                        </a>
                    </div>
                    <p class="mt-2 text-white" th:text="${story.title}">Tên truyện ...</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col ">
                <p class="text-white  mb-0 mt-3  ">Truyện Chữ là nền tảng mở trực tuyến, miễn phí đọc truyện chữ
                    được đóng góp nội dung từ các tác giả viết truyện và các dịch giả convert, dịch truyện, rất
                    nhiều truyện hay và nổi bật được cập nhật nhanh nhất với đủ các thể loại tiên hiệp, kiếm hiệp,
                    huyền ảo ....</p>
                <div class="d-flex justify-content-center"><img class="logo-footer" src="/web-assets/img/logo.png"
                                                                alt="logo">
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- Link JS -->
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
    $(document).ready(function () {
        $('#header-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            items: 1,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true
        });
    });
</script>
</body>


</html>